html,body{
    background-image: url("../img/SS-16.jpg");
    background-size: 20%;
    background-repeat: repeat;
    /* height: 50px; */
    /* background-color: darkgray; */
}

span {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    background-color: #DCDCDC;
}

