{% extends 'base.html' %} 

{% block title %} Vroom Car Service {% endblock title %} 

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/landing.css')}}">
{% endblock head %}

{% block nav %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Vroom</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
    <div>
      <nav class="navbar navbar-light bg-dark">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-success me-2" type="button">
            Login
          </button>
          <button class="btn btn-outline-success me-2" type="button">
            Sign Up
          </button>
        </form>
      </nav>
    </div>
  </div>
</nav>
{% endblock nav %} 

{% block body %}


<div
  id="carouselExampleInterval"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img
        src="{{url_for('static', filename='img/SS-1.jpg')}}"
        class="d-block w-100"
        alt="There is a Image"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1><b>Vroom</b></h1>
        <h3>Complete solutions to breakdowns !!</h3>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img
        src="{{url_for('static', filename='img/SS-2.jpg')}}"
        class="d-block w-100"
        alt="There is a Image"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1 class="mt-5">"A car is not only a vehicle. Sometimes it’s just like a dream"</h1>
        <h3> - And we care for your dreams.</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="{{url_for('static', filename='img/SS-3.jpg')}}"
        class="d-block w-100 mw-100"
        alt="There is a image"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1 class="mt-5 bolder" >Come here once and no need to go anywhere else!!</h1>
        <!-- <h3>So when are you planning your visit??</h3> -->
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock body %}
